
<!DOCTYPE html>
<html lang="en">
	<% include contents/head.ejs %>
	<body>
	<% include ../navbar/navbar2.ejs %>
	<% include contents/categories.ejs %>
	<% include ../footer/footer.ejs %>
	<!-- script references -->
	</body>
</html>
