<!DOCTYPE html>
<html lang="en">
<head>
	<!-- head -->
	<% include contents/head.ejs %>
</head>
<body ng-app="mainApp">
		<!-- navigation bar  -->
	<% include ../navbar/navbar1.ejs %>
		<!-- categories content -->
	<div ng-view>

	</div>
</body>
</html>
