
<!DOCTYPE html>
<html lang="en">
	<% include contents/head.ejs %>
	<body ng-app="category">
	<% include ../navbar/navbar2.ejs %>
	<br><br><br><br>
	<% include contents/post_content.ejs %>

	
	<!-- script references -->
	</body>
</html>
