<div class="container-fluid">
	  <h3 class="pull-center">ABOUT <% include ../../basicsitename1.ejs %></h3>
		<hr>
	  	<div class="row">

	  		<div class="col-md-6">
	  			<p>
	  				<h5>
	  					<% include ../../basicsitename1.ejs %> is an open source based site where you can easily post all your queries , answer any question ,post articles in any category have likes and reviews on them
	  				</h5>
	  			</p>
	  		</div>
	  		<div class="thin_vertical_line" style="position:absolute;left:-15px;height:70%;top:0px;"></div>
	  		<div class="col-md-2">
		  			<div class="span4">
				      <img style="float:left" src="/images/ask3.png" class="img-rounded" width="70px" height="45px"/>
				      <div class="content-heading"><h3>ASK A QUESTION</h3></div>
				    </div>
	  		</div>
	  		<div class="col-md-2">
		  			<div class="span4">
				      <img style="float:left" src="/images/ans.png" class="img-rounded" width="70px" height="45px"/>
				      <div class="content-heading"><h3>ANSWER A QUESTION</h3></div>
				    </div>
	  		</div>
	  		<div class="col-md-2">
		  			<div class="span4">
				      <img style="float:left" src="/images/article.png" class="img-rounded" width="70px" height="45px"/>
				      <div class="content-heading"><h3>POST AN ARTICLE</h3></div>
				    </div>
	  		</div>
	  	</div>
	
	<br><hr><br><br>
	<div class="row vertical-center-row">
		<div class="col-md-9">
				
						
				
				<div class="panel-body">
					<table class="table table-stripe">
						<thead>
							<th align="center">CATEGORY</th>
							<th align="center">CONTENT</th>
							<th align="center">LIKES</th>
							<th align="center">VIEWS</th>
							<th align="center">ANSWER</th>
						</thead>
						<tbody>
							<tr>
								<td align="center">CSS</td>
								<td align="center">
									<h6>content 1content 1content 1content 1content 1content 1content 1content 1content 1content 1content </h6>
									<h5><mark>tag1</mark></h5>
								</td>
								<td align="center"> 1</td>
								<td align="center"> 1</td>
								<td align="center"> 1</td>
							</tr>

						</tbody>	
					</table>
				</div>
			
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>
						TOP QUESTIONS
					</h3>
				</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>
</div>