<!DOCTYPE html>
<html lang="en" ng-app="api_angular">
<head>
	<!-- head -->
	<% include contents/head.ejs %>
</head>
<body  ng-controller="api_controller">
		<!-- navigation bar  -->
	<% include ../navbar/navbar2.ejs %>
		<!-- categories content -->
	<% include contents/api_reference.ejs %>

	<br><br><br><br><br><br>
	<% include ../footer/footer.ejs %>
</body>
</html>
