<!doctype html>
<html>
<head>
	<title>MY APP</title>
	<link rel="stylesheet" href="bootstrap\dist\css\bootstrap.css">
</head>
<body>
	<h1>REGISTER </h1>
	<div class="container">
	<u>CREDENTIALS</u>
	</div>
	WELCOME <%= username %><br>
<script src="bootstrap\dist\js\bootstrap.js">
	<script src="bootstrap\dist\jquery.js">
</body>
</html>