
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><% include ../../basicsitename1.ejs %></title>

		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

		<!--css-->
		<link href="/stylesheets/styles.css" rel="stylesheet">
		<link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
		<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'>
  		<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
  		<link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">
  		<link rel="stylesheet" type="text/css" href="/stylesheets/tags.css">
		<!-- script references -->
		
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script src="/javascripts/scripts.js"></script>
		<script src="/javascripts/angular.min.js"></script>
		<script src="/javascripts/jquery-2.2.1.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/angular-route.js"></script>
		<script type="text/javascript" src="query_controll.js"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js'></script>
  		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
  		<script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
  		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/tags.js"></script>	
		<script type="text/javascript" src="/javascripts/autofill.js"></script>	
		<script type="text/javascript" src="/javascripts/mytag.js"></script>
  		</script>
  		
  	