<!DOCTYPE html>
<html lang="en">
<head>
	<!-- head -->
	<% include contents/head.ejs %>
</head>
<body >
		<!-- navigation bar  -->
	<% include ../navbar/navbar2.ejs %>
		<!--  content -->
	<% include contents/post.ejs %>
	<% include ../footer/footer.ejs %>
</body>
</html>
