<!DOCTYPE html>
<html lang="en">
<head>
	<!-- head -->
	<% include contents/head.ejs %>
</head>
<body ng-app="mainApp">
		<!-- navigation bar  -->
	<% include ../navbar/navbar2.ejs %>
		<!-- categories content -->
		<br><br><br><br><br><br><br>
	SUBMITTED
	<a href="https://queryspots-makepost.rhcloud.com/query/get_all_posts">SEE ALL POSTS</a>
</body>
</html>
